body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;  /* Solo desactiva el scroll vertical */
  overflow-x: hidden;  /* Solo desactiva el scroll horizontal */
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fcb564;
}

.game-title {
  font-size: 100px;
  font-weight: bold;
  color: #bcf599;
  -webkit-text-stroke: 2px #696956;
  margin-bottom: 50px;
  animation: rotate 8s linear infinite;
  z-index: 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) ;
  }
  20% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(15deg) ;
  }

  60% {
    transform: rotate(-15deg);
  }
  80% {
    transform: rotate(15deg) ;
  }
  100% {
    transform: rotate(0deg) ;
  }
}


.multiplayer-button {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #83befd;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
  z-index: 1;
}

.multiplayer-button:hover {
  transform: scale(1.2);
}

.singleplayer-button {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #83befd;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
  z-index: 1;
}
.singleplayer-button:hover {
  transform: scale(1.2); 
}

.howtoplay-button {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #83befd;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
  z-index: 1;
}
.howtoplay-button:hover {
  transform: scale(1.2); 
}

.leaderboard-button {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #83befd;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: transform 0.2s ease;
  z-index: 1;
}
.leaderboard-button:hover {
  transform: scale(1.2); 
}