@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

* {
    font-family: 'Oxanium', sans-serif;
    /* Apply the Oxanium font to all elements */
}

#numberPlaySlotBox {
    display: inline-block;
    /* Makes it a box */
    padding: 10px;
    /* Adjust padding as needed */
    margin: 10px;
    /* Adds margin around the box */
    border-radius: 5px;
    /* Adjust border-radius as needed */
    background-color: #f9f9f9;
    min-width: 50px;
    min-height: 50px;
    font-size: 40px;
    vertical-align: middle;
}

#operatorPlaySlotBox {
    display: inline-block;
    /* Makes it a box */
    padding: 5px;
    /* Adjust padding as needed */
    margin: 5px;
    /* Adds margin around the box */
    border-radius: 5px;
    /* Adjust border-radius as needed */
    background-color: #f9f9f9;
    min-width: 25px;
    min-height: 25px;
    font-size: 25px;
    vertical-align: middle;
}

#numberBankBox {
    display: inline-block;
    /* Makes it a box */
    padding: 10px;
    /* Adjust padding as needed */
    margin: 10px;
    /* Adds margin around the box */
    border-radius: 5px;
    /* Adjust border-radius as needed */
    background-color: #f9f9f9;
    min-width: 10px;
    min-height: 20px;
}

#operatorBankBox {
  display: inline-block; /* Makes it a box */
  padding: 5px; /* Adjust padding as needed */
  margin: 5px; /* Adds margin around the box */
  border-radius: 5px; /* Adjust border-radius as needed */
  background-color: #f9f9f9;
  min-width: 25px;
  min-height: 25px;
  font-size: 25px;
  vertical-align: middle;
}

:disabled {
    background-color: #f9f9f9;
}

:disabled:hover {
    background-color: #f9f9f9;
}

/* #playSlotBoxArea {
  display:inline-block;
} */

.multiplayer-welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.selectroom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.enter-private-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.target-time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.multiplayer-time-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 25px 25px 10px -15px rgba(0,0,0,0.1);
  width: 150px;
  padding: 15px 40px;
  color: #4AC29A;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.set-room-button {
  height: 40px;
  background-color: rgb(32, 31, 31);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  transition: transform 0.2s ease;
}

.set-room-button:hover {
  transform: scale(1.2);
}

.set-room-button:disabled {
  background-color: #a9a9a9;
}

.set-room-button:disabled:hover {
  background-color: #a9a9a9;
}