#numberPlaySlotBox {
  display: inline-block; /* Makes it a box */
  padding: 10px; /* Adjust padding as needed */
  margin: 10px; /* Adds margin around the box */
  border-radius: 5px; /* Adjust border-radius as needed */
  background-color: #f9f9f9;
  min-width: 50px;
  min-height: 50px;
  font-size: 40px;
  vertical-align: middle;
}

#operatorPlaySlotBox {
  display: inline-block; /* Makes it a box */
  padding: 5px; /* Adjust padding as needed */
  margin: 5px; /* Adds margin around the box */
  border-radius: 5px; /* Adjust border-radius as needed */
  background-color: #f9f9f9;
  min-width: 25px;
  min-height: 25px;
  font-size: 25px;
  vertical-align: middle;
}

#numberBankBox {
  display: inline-block; /* Makes it a box */
  padding: 10px; /* Adjust padding as needed */
  margin: 10px; /* Adds margin around the box */
  border-radius: 5px; /* Adjust border-radius as needed */
  background-color: #f9f9f9;
  min-width: 10px;
  min-height: 20px;
}

#operatorBankBox {
  display: inline-block; /* Makes it a box */
  padding: 10px; /* Adjust padding as needed */
  margin: 10px; /* Adds margin around the box */
  border-radius: 5px; /* Adjust border-radius as needed */
  background-color: #f9f9f9;
}

:disabled {
  background-color: #f9f9f9;
}

:disabled:hover {
  background-color: #f9f9f9;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; 
  color: white; 
  cursor: pointer; 
  margin: 5px; /* Espaciado entre botones */
}

button:hover {
  background-color: #0056b3; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px;
  margin: 10px 0;
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
}
/* #playSlotBoxArea {
  display:inline-block;
} */